* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 600px;
  background-color: lightsteelblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.title {
  font-size: 4rem;
  margin-top: 20px;
  text-align: center;
  height: 100px;
  color: darkblue;
}

.singerList {
  
  width: 100%;
  /* background-color: lightgoldenrodyellow; */
  display: flex-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.singerCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  border: 2px solid darkblue;
  border-radius: 20px;
  margin: 20px 0;background-color: bisque;
  overflow: hidden;
  box-shadow: 5px 5px 5px gray;
}

.singerWrapper {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
  align-items: center;
  font-size: 1.8rem;
  padding: 10px;
}

.name {
  font-weight: bold;
}

.country {
  font-size: 1.3rem;
  font-weight: bold;
}

.likedWrapper {
  width: 40%;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: dodgerblue;
  color: lightcyan;
}

.likedTitle {

}

.likedStatus {
  font-weight: bold;
  
}

button {
  font-size: 1.2rem;
  padding: 8px;
  border: none;
  border-radius: 10px;
}
